<div class="bcg">
    <div>
        <div class="slideInUp" style=" padding: 7rem; padding-left: 7.5rem;">
            <h1 class="font-weight-bold text-white font" style="font-size: 8rem; font-family: Myriad Pro;">
                Shop<br>Vaping</h1>
            <br>
            <h2>keep kalm and Vape</h2>
            <nav>
                <button routerLink="/solicitudFranquicia" type="button"
                    class="btn font-weight-bold rounded-pill franquiciaBtn animated zoomInDown ">TU FRANQUICIA</button>
            </nav>
        </div>
    </div>
    <div>
        <footer> 
            Todos los derechos reservados <sup>&copy;</sup>
        </footer>
    </div>
</div>  