<nav class="d-flex justify-content-around mt-lg-4 navbarFixes navbar">
    <div>
        <!-- <a href=""><i class="fas fa-wind" style="color:white; font-size: 50px; margin-right: 25rem;"></i></a> -->
        <a href=""><img src="../../../utils/img/LogoWhite.png" class="img-fluid" style="margin-right: 25rem;width: 45px;"></a>
    </div>
    <div class="optioncenter">
        <a class="optionNav font-weight-bold" [routerLink]="['vape']">Vapes</a><!--onclick = "this.style.background = 'red'"-->
        <a class="optionNav font-weight-bold" >Liquido</a>
        <a class="optionNav font-weight-bold" href="">Porque Vape</a>
        <a class="optionNav font-weight-bold" href="">Nosotros</a>
        <button type="button" [routerLink]="['contactoComponent']" class="btn btn-dark font-weight-bold rounded-pill optionNavLast" >Contacto</button>
    </div>
</nav>