<div class="container">
    <div class="row">
        <div><a [routerLink]="['']"><img  class="img-fluid imgVape animated fadeInDown " src="../../../utils/img/vape1.png" alt="vape">
                <p class="font-weight-bold text-light text-center fadeInDown">Smok Kit</p>
                <p class="font-weight-bold text-light text-center fadeInDown">$300.000</p>
            </a>
        </div>
        <div><a [routerLink]="['']"><img class="img-fluid imgVape animated fadeInDown " src="../../../utils/img/vape2.png" alt="vape">
                <p class="fadeInDown font-weight-bold text-light text-center fadeInDown">Smok Kit</p>
                <p class="font-weight-bold text-light text-center fadeInDown">$300.000</p>
            </a>
        </div>
        <div><a [routerLink]="['']"><img class="img-fluid imgVape animated fadeInDown" src="../../../utils/img/vape3.png" alt="vape">
                <p class="font-weight-bold text-light text-center fadeInDown">Smok Kit</p>
                <p class="font-weight-bold text-light text-center fadeInDown">$300.000</p>
            </a>
        </div>
        <div><a [routerLink]="['']"><img class="img-fluid imgVape animated fadeInDown" src="../../../utils/img/vape8.png" alt="vape">
                <p class="font-weight-bold text-light text-center fadeInDown">Smok Kit</p>
                <p class="font-weight-bold text-light text-center fadeInDown">$300.000</p>
            </a>
        </div>
        <div><a [routerLink]="['']"><img class="img-fluid imgVape animated fadeInDown" src="../../../utils/img/vape5.png" alt="vape">
                <p class="font-weight-bold text-light text-center fadeInDown">Smok Kit</p>
                <p class="font-weight-bold text-light text-center fadeInDown">$300.000</p>
            </a>
        </div>
        <div><a [routerLink]="['']"><img class="img-fluid imgVape animated fadeInDown" src="../../../utils/img/vape6.png" alt="vape">
                <p class="font-weight-bold text-light text-center fadeInDown">Smok Kit</p>
                <p class="font-weight-bold text-light text-center fadeInDown">$300.000</p>
            </a>
        </div>
        <div><a [routerLink]="['']"><img class="img-fluid imgVape animated fadeInDown" src="../../../utils/img/vape7.png" alt="vape">
                <p class="font-weight-bold text-light text-center fadeInDown">Smok Kit</p>
                <p class="font-weight-bold text-light text-center fadeInDown">$300.000</p>
            </a>
        </div>
        <div><a [routerLink]="['']"><img class="img-fluid imgVape animated fadeInDown" src="../../../utils/img/vape8.png" alt="vape">
                <p class="font-weight-bold text-light text-center fadeInDown">Smok Kit</p>
                <p class="font-weight-bold text-light text-center fadeInDown">$300.000</p>
            </a>
        </div>
    </div>
</div>