*{
  background-image: none!important;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
     background-image: url("../../../utils/img/Background.jpg")!important; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.imgVape{
  width: 380px;
  height: 500px;
}
.imgVape:hover{
  transform: rotate(25deg);
}