<div class="cuerpo">
    <div class="contacto d-flex">
        <div class="container">
            <h2>
                Adquiere Todo lo necesario <br> para tu tienda de vapes
            </h2>
            <br>
            <p class="container p-5">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo officia deserunt facere aliquid, optio qui
                temporibus
                ipsam neque commodi odio, ducimus consectetur. Non quaerat delectus commodi exercitationem tempora earum
                eaque!
            </p>
        </div>
        <div>
            <div class="center formulario fx">
                <form action="" class="needs-validation" novalidate>
                    <div class="form-row mr-1">
                        <div class="">
                            <label for="validationTooltip03" class="center">Nombre</label>
                            <input type="text" class="form-control" id="validationTooltip03" placeholder="Tu Nombre"
                                required>
                            <div class="invalid-tooltip">
                                Por favor ingresa tu Nombre
                            </div>
                        </div>
                        <div class="">
                            <label for="validationTooltip04">Email</label>
                            <input type="email" class="form-control" id="validationTooltip04"
                                placeholder="example@gmail.com" required>
                            <div class="invalid-tooltip">
                                Ingresa un correo valido
                            </div>
                        </div>
                        <div class="">
                            <label for="validationTooltip05">Comentario</label>
                            <textarea class="form-control" name="" id="" cols="10" rows="10" placeholder="-"></textarea>
                        </div>
                    </div>
                    <button class="btn btn-dark right" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>