body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contacto {
    height: 33rem;
    margin-top: 5rem;
    margin-left: 5rem;
}

h2 {
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

p {
    text-align: center;
    color: white;
}

label {
    color: white;
}

button {
    margin-top: 1rem;
}

.fx {
    margin-left: 7rem;
}

input, textarea {
    background: none;
    width: 17rem;
}
 
textarea {
    margin-top: 1rem;
}

::placeholder {
    color: white;
}

button {
    width: 7rem;
    margin: 1rem 4.84rem;
}

button:active {
    background-color: yellow;
}
 